---
layout: post
title:  Python sekoilua 1
date:   2025-07-24 12:00:00
---
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<div class="container">
        <p>
            Tällä sivulla tutustutaan Python 3 -ohjelmointikielen perussyntaksiin ja rakenteisiin esimerkkien avulla.
            Opit mm. ehtolauseiden ja koodin rakenteen perusteet käytännön esimerkeillä.
        </p>

<h3>If-lause</h3>
<pre><code class="language-python">{% include syntax1.py %}
</code></pre>
<a href="/downloads/python/syntax2.py" download>syntax2.py</a>
<a href="/downloads/python/syntax1.py" download>syntax1.py</a>
<p>If-lauseella voidaan ehkä monta eri ehtoa. Jos
    ensimmäinen ehto on epätosi, totuustarkastelu siirtyy
    seuraavalle ehdolle. Jos mikään annetuista ehdoista ei ole tosi,
    koodissa aktivoituu else "blokki".
</p>
<pre><code class="language-python">{% include syntax2.py %}</code></pre>

</div>